<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">

	<title>Git - worflow</title>
	<meta name="description" content="Git - Workflow">
	<meta name="author" content="Demonchy David">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/sky.css" id="theme">
	<!-- Code syntax highlighting -->
	<link rel="stylesheet" href="lib/css/zenburn.css">
	<!-- Printing and PDF exports -->
	<script>
	var link = document.createElement( 'link' );
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
	document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	<div class="reveal">
		<!-- Any section element inside of this container is displayed as a slide -->
		<div class="slides">
			<section>
				<h1>GIT</h1>
				<h3>Workflow</h3>
				<p>
					<small>
						Created by <a href="#">Demonchy David</a> /
						<a href="https://twitter.com/daviddemonchy">@daviddemonchy</a>
					</small>
				</p>
			</section>
			<!-- github flow -->
			<section>
				<section>
					<h2>LE WORKFLOW
						<br>
						<small>DIT</small>
						<br>
						<strong>	 "github flow"</strong>
					</h2>
					<p class="fragment fade-in">
						Idéal pour des projets ne nécessitant de versions.
					</p>
					<p class="fragment fade-in">
						La branche master évolue au fur et à mesure des merges et la prod suit cette évolution
					</p>
				</section>
				<section>
					<h3>Les branches</h3>
					<ul>
						<li class="fragment fade-in"><strong>Master</strong>
							<ul>
								<li class="fragment fade-in">Pour la production</li>
								<li class="fragment fade-in">Doit toujours être stable</li>
								<li class="fragment fade-in">Toute création de branche est basée sur elle</li>
							</ul>
						</li>
						<li class="fragment fade-in"><strong>Feature(s)</strong>
							<ul>
								<li class="fragment fade-in">On en crée autant que l'on souhaite</li>
								<li class="fragment fade-in">On pousse sur Origin même si elle n'est pas stable</li>
								<li class="fragment fade-in">On utilise le pull-request</li>
								<li class="fragment fade-in">On fait faire la revue de code du PR par un autre</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h3>Schématisation</h3>
					<img src="./images/git-workflow/github-flow-branching-model.jpg" alt="">
				</section>
			</section>
			<!-- / github flow -->
			<!-- git flow -->
			<section>
				<section>
					<h2>LE WORKFLOW
						<br>
						<small>DIT</small>
						<br>
						<strong>"git flow"</strong>
					</h2>
				</section>
				<section>
					<p>
						Ce workflow est plus complet que le précédent. Cependant il est plus adapté sur de gros projets.

					</p>
				</section>
				<section>
					<h3>Les branches principales :</h3>
					<ul>
						<li>
							<strong>master</strong> est la branche où tout est stable.
							Chaque commit correspond à une release qui peut être déployée en production.
						</li>
						<li>
							<strong>develop</strong> est la branche sur laquelle s’effectue le développement proprement dit. On y prépare les changements en vue de la prochaine release dans master.
						</li>
					</ul>
				</section>
				<section>
					<h3>Les branches secondaires :</h3>
					<ul>
						<li>
							<strong>release</strong> part de <strong>develop</strong> et se merge dans <strong>master et develop</strong>.
						</li>
						<li>
							<strong>feature</strong> part de <strong>develop</strong> et se merge dans <strong>develop</strong>.
						</li>
						<li>
							<strong>hotfix</strong> part de <strong>master</strong> et se merge dans <strong>master et develop / release</strong>.
						</li>
					</ul>
				</section>
				<section>
					<h3>Schématisation</h3>
					<img src="./images/git-workflow/git-flow-branching-model.jpg" alt="">
				</section>
			</section>
			<!-- / git flow -->
			<!-- links -->
			<section>
				<h2>Quelques liens :</h2>
				<br>
				<p>Les 2 workflows disposent d'extensions à utiliser en ligne de commande.</p>
				<ul>
					<li>
						<a  href="https://github.com/github-flow/github-flow">
							https://github.com/github-flow/github-flow
						</a>
					</li>
					<li>
						<a href="https://github.com/nvie/gitflow">
							https://github.com/nvie/gitflow
						</a>
					</li>
				</ul>
			</section>
			<!-- / links -->
			<section>
				<section>
					<h1>Mise en oeuvre</h1>
				</section>
			</section>

			<section>
				<section>
					<h2>Workflow github <br>(seul)</h2>
					<aside class="notes">
						On fait notre petite vie dans notre coin seul, et on ne s'occupe pas bcq voir pas du tout de ce qu'il se passe sur master tant que l'on ne fait pas de merge d'une feature.
					</aside>
				</section>
				<section data-markdown="include/workflow-seul-git-checkout-feature.md"
				data-separator="^\n\n\n"
				data-separator-vertical="^\n\n"
				data-separator-notes="^Note:"
				data-charset="iso-8859-15">
			</section>
			<section>
				<h2>Workflow github <br>(à plusieurs)</h2>
				<aside class="notes">

				</aside>
			</section>
			<section data-markdown="include/workflow-plusieurs-git-checkout-feature.md"
			data-separator="^\n\n\n"
			data-separator-vertical="^\n\n"
			data-separator-notes="^Note:"
			data-charset="iso-8859-15">

		</section>
		<section>
			<h3>Pourquoi rebaser ?</h3>
			<a href="https://git-scm.com/book/fr/v2/Les-branches-avec-Git-Rebaser-Rebasing" target="_blank">
				https://git-scm.com/book/fr/v2/Les-branches-avec-Git-Rebaser-Rebasing
			</a>
		</section>
	</section>
	<section>
		<h1>Quoiqu'il arrive</h1>
		<h2>La bible</h2>
		<a href="https://git-scm.com/book/fr/v2/Démarrage-rapide-À-propos-de-la-gestion-de-version" class="fragment fade-in">
			La documentation !!!!!!!!!
			<br>
			<strong>R.T.F.M.</strong>
			</a>
		</section>


			<section>
				<h1>TP</h1>
				<p>Donner les commandes git pour un workflow basé sur gitflow</p>
				<p>On partira d'un <strong>dépôt cloné</strong> avec comme seule branche <strong>Master</strong></p>
			</section>

			<section data-markdown="include/workflow-gitflow-plusieurs.md"
			data-separator="^\n\n\n"
			data-separator-vertical="^\n\n"
			data-separator-notes="^Note:"
			data-charset="iso-8859-15">
		</section>

</div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>
<script>
// Full list of configuration options available at:
// https://github.com/hakimel/reveal.min.js#configuration
Reveal.initialize({
	controls: true,
	slideNumber: true,
	ShowNotes: true,
	progress: true,
	history: true,
	center: true,
	showNotes: false,
	transition: 'zoom', // none/fade/slide/convex/concave/zoom
	// Optional reveal.js plugins
	dependencies: [
		{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
		{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
		{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
		{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
		{ src: 'plugin/zoom-js/zoom.js', async: true },
		{ src: 'plugin/notes/notes.js', async: true }
	]
});
</script>
</body>
</html>
